.buttons {
  display: flex;
  z-index: 1
}

.restart,
.solve,
.undo {
  color: var(--color-white);
  padding: 0 4vh;
  font-size: 5vh;
  font-weight: 500;
  letter-spacing: 1vh;
  cursor: pointer;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 11vh;
}

.restart {
  background: var(--color-first);
  flex-grow: 1;
}

.solve {
  background: var(--color-second);
  flex-grow: 1;
}

.undo {
  background: var(--color-first);
}
