.button {
  align-items: center;
  background: var(--color-third);
  border: none;
  color: var(--color-first);
  cursor: pointer;
  display: flex;
  font-size: 5vh;
  font-weight: 500;
  height: 10vh;
  justify-content: center;
  outline: none;
  padding: 0 2vh;
  position: relative;

  & > svg {
    height: 5vh;
    width: 5vh;
  }
}

.button:not(.thin) {
  letter-spacing: 1vh;
  padding: 0 4vh;
}

.grow {
  flex-grow: 1;
}

.primary {
  background: var(--color-first);
  color: var(--color-white);
}

.secondary {
  background: var(--color-second);
  color: var(--color-white);
}