.button {
  color: var(--color-first);
  background: var(--color-white);
  padding: 0 4vh;
  font-size: 5vh;
  font-weight: 500;
  letter-spacing: 1vh;
  cursor: pointer;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 11vh;
}

.grow {
  flex-grow: 1;
}

.primary {
  color: var(--color-white);
  background: var(--color-first);
}

.secondary {
  color: var(--color-white);
  background: var(--color-second);
}