.result {
  background: var(--color-transparent);
  border-radius: 50%;
  color: var(--color-dark);
  font-size: 9vh;
  font-weight: 500;
  height: 30vh;
  left: 50%;
  line-height: 30vh;
  margin: -15vh;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 30vh;
  z-index: 1;
}