{
  "presets": [
    ["@babel/preset-env", 
      { 
        "useBuiltIns": "usage", 
        "corejs": "3.10.1"
      }
    ]
  ],
  "plugins": [
    "babel-plugin-transform-vite-meta-env",
    ["module-resolver", { "root": ["./src"] }],
    ["inline-dotenv", { "path": ".env.test", "unsafe": true }]
  ]
}