:root {
  --color-first: #175676;
  --color-second: #4ba3c3;
  --color-third: #d2e8f0;
  --color-white: #f7f9f9;
  --color-transparent: #f7f9f9e7;
  --color-dark: #254441;
  --font-family-main: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}